
@{
    ViewBag.Title = "AboutUs";
}
<h2 style="color:red">About Us</h2>
<article>
    <p style="color: black; font-family:'MV Boli'; font-size:20px">
        JeanStation was founded in Des Moines,lowa,in 1991 as a retail store of casual clothes with denim playing the main part in the product range.<br />
        By 1997,JeanStation become a leading brand in denim wears with outlets in 15 major cities including San Francisco,Los Angeles,and Silicon Valley.<br />
        By 2012,JeanStation opened more than 100 stores.<br />
    </p>


</article>
