
@{
    ViewBag.Title = "ContactUs";
}

<h2 style="color:red">Contact Us</h2>
<article>

    <h3 style="color: #003876">
        Support:
    </h3>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;Contact@JeanStation.com</p>

    <h3 style="color: #003876">Address: </h3>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;JeanStation &nbsp;&nbsp; Nantong, China</p>

    <h3 style="color: #003876">
        Contact Number:
    </h3>
    <P>&nbsp;&nbsp;&nbsp;&nbsp;183-0629-8901</P>
    <p>&nbsp;</p>
</article>



