
@{
    ViewBag.Title = "malecloth";
}

<h2>malecloth</h2>

 @*<script type="text/javascript">
     function btn_click(btn)
     {
        
	     alert("我是"+btn.value);
	     alert("我被点中了！");
	 }
    </script>*@

<article>

    @Html.Raw(ViewBag.products)

</article>
